<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace" internalLogFile="nlog-internal.log">

	<variable name="telegramBotToken" value="1"/>
	<variable name="telegramChatId" value="2"/>

	<targets async="true">
		<target name="console" xsi:type="Console" />
		<target xsi:type="WebService"
                name="telegram"
                url="https://api.telegram.org/bot${var:telegramBotToken}/sendMessage"
                encoding="utf-8" protocol="JsonPost">
			<parameter name="">
				<layout xsi:type="JsonLayout" includeAllProperties="true">
					<attribute name="chat_id" layout="${var:telegramChatId}"/>
					<attribute name="parse_mode" layout="HTML"/>
					<attribute name="text"
                               layout="${longdate}|#${level}|&lt;i&gt;${logger}&lt;/i&gt;|&lt;pre&gt;&lt;code&gt;${replace:searchFor=&lt;:replaceWith=:inner=${replace:searchFor=&gt;:replaceWith=:inner=${message:truncate=1000}}} ${replace:searchFor=&lt;:replaceWith=:inner=${replace:searchFor=&gt;:replaceWith=:inner=${exception:format=@:truncate=1000}}}&lt;/code&gt;&lt;/pre&gt;"/>
				</layout>
			</parameter>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="telegram"/>
		<logger name="*" minlevel="Trace" writeTo="console" />
	</rules>
</nlog>